*{
  margin: 0;
  padding: 0;
}

.box{
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 130px;
}

.line{
  height: 15px;
  width: 100%;
  display: flex;
}

.bar{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 85%;
  border: solid black 1px;
  font-size: 60%;
  font-weight: bold;
  box-sizing: border-box;
}

.btn{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 15%;
}

.content{
  box-sizing: border-box;
  border: solid black 1px;
  margin-top: -1px;
  font-size: 0.5rem;
  height: 80px;
}
